@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto-Bold.ttf") format('truetype');
  }
html {
    font-family: 'Roboto', sans-serif;

}
body {
    margin: 0 0;
    padding: 0 0;
    background-color: whitesmoke;
}
html, body {
    height: 100%;
}
h1, h2, a, p {
    color:#0e1111;
}
.top-nav {
    background-color:#0e1111;
    border-bottom: 1px solid whitesmoke;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
.top-nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.top-nav li {
    list-style-type: none;
    margin: 20px;
}
.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100px;
}
.hamburger a {
    font-size: 30px;
}
.top-nav a {
    font-size: 13px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-decoration: none;
}
.top-nav-hover-underline-animation {
    display: inline-block;
    position: relative;
    width: fit-content;
  }
  
.top-nav-hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.top-nav-hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.main-container {
    display: grid;
    padding-top: 75px;
    height: calc(100% - 75px);
    width: 100%;
    grid-template: 1fr / 1fr;

}
.side-bar {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-direction: column;
    height: 100%;
}
.side-bar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 75px;
    margin-left: 13px;
}
.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 50%;
}
.logo-img-container {
    background-image: url("../Images/WhitePNG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 71px;
    height: 100%;
    border-radius: 50px;
}
.side-bar-nav {
    height: 400px;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.main-nav a {
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    padding-left: 20px;
    width: 100%;
    height: 50%;
    margin: auto;
}

.main-nav ul {
    list-style-type: none;
    height: 100%;
    
    min-height: 100px;
    padding-left: 0;
    overflow: scroll;
}
.main-nav li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.main-nav ul li:hover {
    background-color: rgba(0, 195, 255, 0.1)
    
}
.side-bar-footer {
    width: 100%;
    height: 100px;
}

#grid {
    display: grid;
    justify-items: stretch;

    width: 100%;
    margin: 0;
}
.grid-item {
    display: grid;
    padding-top: 75px;
    grid-template: repeat(12, calc(100% / 12)) / repeat(12, 1fr) ;
}
.grid-banner {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: 1 / 2 / 12 / 13;
    background-color: #0e1111;
    margin-right: 20px;
    margin-left: 20px;
    /*max-height: calc(100vh - 175px);*/
    
    min-height: 550px;

}
.tour {
    background-color: #0e1111;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    margin-bottom: 40px;
    margin-right: 40px;
    height: 60px;
    width: 210px;
}
.tour a {
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour a:hover {
    color: #0e1111;
    background-color: whitesmoke;
}
.grid-info {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 1 / 9 / 4;
    margin-left: 20px;
    margin-right: 81px;
    height: 275px;
    min-width: 200px;
    background-color: whitesmoke;
    z-index: 10;
}
.grid-info ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    height: 100%;
    margin: 0;
}
.grid-info li {
    display: flex;
    height: 100%;
    align-items: center;
}
.grid-info a {
    color: #0e1111;
    text-decoration: none;
}

.grid-info h1 {
    font-size: 37px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 20px;
}

/*
.grid-info p:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}
*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    width: fit-content;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #df3333;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.banner-info {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 12 / 2 / 12 /13;
    margin-left: 20px;
    margin-right: 20px;
}
.banner-quote {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.banner-motivation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.half-page-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.half-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 20px;
}
.half-page h3,
.half-page p {
    width: 100%;
    text-align: left;
}
.half-page h3 {
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}
.blackbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1111;
    width: 100%;
    height: 600px;
}
.blackbox h2 {
    font-size: 10vw;
    color: whitesmoke;
}
.why {
    background-color: whitesmoke;
    color: #0e1111;
    border: 1px solid #0e1111;
    height: 60px;
    width: 210px;
}
.why a {
    color: #0e1111;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why a:hover {
    color: whitesmoke;
    background-color: #0e1111;
}
.button-border-radius {
    border-radius: 5px;
}
.spacer {
    margin-top: 50px;
}
.fullscreen {
    height: calc(100vh - 75px);
}
.section-tite {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 0;
}
.horizontal-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 20px;
    overflow-x: scroll;
}

.h-item-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 20px;
}
.h-item {
    width: calc((100vw - 80px) / 3 );
    height: 400px;
}
.extra {
    margin-right: 20px;
}
.swipe-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(100% - 40px);
    margin: 20px;
    background-color: #0e1111;
    color: white;
}

.wide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 20px;
    height: calc(600px);
    background-color: #0e1111;
}
.wide-container h3 {
    font-size: 10vw;
    color: whitesmoke;
}

.main-content {
    width: 100%;
    
    overflow: scroll;
}
.content {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
}
.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: whitesmoke;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px); 
    min-height: 500px;
    width: 100%;
    background-color: whitesmoke;
}
.banner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    height: 100%; 
    width: 100%;
}
.banner-item h1 {
    text-align: center;
}


footer {
    width: 100vw;
    height: calc(100vh - 75px);
}
.footer-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #0e1111;

}
#gradient1 {
   background-image: linear-gradient(#000428, #004e92);
}
#gradient2 {
    background-image: linear-gradient(#ffafbd, #ffc3a0);
 }
 #gradient3 {
    background-image: linear-gradient(#2193b0, #6dd5ed);
 }
 #gradient4 {
    background-image: linear-gradient(#bdc3c7, #2c3e50);
 }
 #gradient5 {
    background-image: linear-gradient(#ef629f, #eecda3);
 }

 @media screen and (max-width: 1150px) {


    .half-page-container {

        flex-direction: column;

    }
  }

  @media screen and (max-width: 700px) {


    .top-nav ul {

        display: none;

    }

    .side-bar-logo {
    justify-content: center;
    width: 100%;
    margin-left: 100px;
    }
    .grid-info {
        grid-area: 3 / 1 / 9 / 13;
    }
    .grid-banner {
        grid-area: 1 / 1 / 12 / 13;
    }
  }


  /* width */
  .horizontal-container::-webkit-scrollbar {
    height: 9px;
    position: fixed;

  }
  
  /* Track */
  .horizontal-container::-webkit-scrollbar-track {
    background: whitesmoke;
    border: 1px solid #0e1111;
  }
  
  /* Handle */
  .horizontal-container::-webkit-scrollbar-thumb {
    background: #0e1111;
  }
  
  /* Handle on hover */
  
