@font-face {
    font-family: 'Lato';
    src: url(../AndrewBloodworth.github.io/Resources/fonts/Lato-Regular.ttf) format('truetype');
  }
html {
    font-family: 'Lato', sans-serif;

}
body {
    margin: 0 0;
    padding: 0 0;
}
html, body {
    height: 100%;
}
.top-nav {
    background-color: gray;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 400px;
}
.top-nav li {
    list-style-type: none;
    margin: 20px;
    color: white;
}

.main-container {
    display: grid;
    height: calc(100% - 75px);
    width: 100%;
    grid-template: 1fr / 270px 4fr;
}
.side-bar {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-direction: column;
    height: 100%;
}
.side-bar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}
.logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
    height: 100%;
}
.logo-img-container {
    background-image: url("../Images/WhitePNG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 71px;
    height: 100%;
    border-radius: 50px;
}
.side-bar-nav {
    height: 400px;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.main-nav a {
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    padding-left: 20px;
    width: 100%;
    height: 50%;
    margin: auto;
}

.main-nav ul {
    list-style-type: none;
    height: 100%;
    
    min-height: 100px;
    padding-left: 0;
    overflow: scroll;
}
.main-nav li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.main-nav ul li:hover {
    background-color: rgba(0, 195, 255, 0.1)
    
}
.side-bar-footer {
    width: 100%;
    height: 100px;
}

#grid {
    display: grid;
    justify-items: stretch;
    width: 100%;
    margin: 0;
}

.main-content {
    width: 100%;
    
    overflow: scroll;
}
.content {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
}
.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: white;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px); 
    min-height: 500px;
    width: 100%;
    background-color: whitesmoke;
}
.banner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%; 
    width: 100%;
}
.banner-item h1 {
    text-align: center;
}
#gradient1 {
   background-image: linear-gradient(#000428, #004e92);
}
#gradient2 {
    background-image: linear-gradient(#ffafbd, #ffc3a0);
 }
 #gradient3 {
    background-image: linear-gradient(#2193b0, #6dd5ed);
 }
 #gradient4 {
    background-image: linear-gradient(#bdc3c7, #2c3e50);
 }
 #gradient5 {
    background-image: linear-gradient(#ef629f, #eecda3);
 }

